* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

html, body {
    overflow-x: hidden;
    background: #000000;
    color: #ffeded;
    font-family: 'Arial', sans-serif;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

.content-wrapper {
    position: relative;
    z-index: 2;
}

#second-three-container {
    position: absolute;
    top: 200;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.scrollable-text {
    position: absolute;
    top: 0;
    left: 200;
    width: 100%;
    padding: 100px;
    box-sizing: border-box;
    transition: transform 0.1s ease-out;
  }

.section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#section2 {
    position: relative;
    overflow: hidden;
    bottom: 0px;
    left: 0px;
}

h1, h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1.2rem;
    max-width: 600px;
    text-align: center;
}

.p5-container {
    position: absolute;
    top: 0;
    width: 102%;
    height: 100%;
}

#p5-sketch-1 {
    left: 0%;
    top: 0%
    /* width: 50%; */
}

#p5-sketch-2 {
    position: fixed;
    z-index: 10;
    /* width: 50%; */
}

.content-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}


h1 {
    color: white; /* Adjust color as needed for visibility */
    font-size: 7rem;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Optional: adds a shadow for better readability */
    font-family: "Lucida Console", "Courier New", monospace;
}

@font-face {
    font-family: 'alfaBravo';
    src: url('fonts/AlfaBravo-Regular.6736174eba9f1fd6e03a3d8425824f95') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'david';
    src: url('fonts/VC_david-Light.otf') format('opentype');
    font-weight: 300; /* Light weight */
    font-style: normal;
}

@font-face {
    font-family: 'narkisBlock';
    src: url('fonts/NarkissBlock-Regular.otf') format('opentype');
    font-weight: normal; /* Light weight */
    font-style: normal;
}

@media (max-width: 768px) {
    h1, h2 {
        font-size: 2rem;
    }

    p {
        font-size: 1rem;
    }
}